@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

.main {
  font-family: 'Roboto Flex', sans-serif;
}

.lightBg {
  background-color:  rgba(242, 234, 234, 1);
  height: auto;
  padding: 5px;
}

.mainBg {
  background-color: rgba(250, 247, 242, 1);
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

.yellowBg {

  background-color: rgba(240, 209, 168, 1);
  padding: 4px;
  color: black;
  border-radius: 5px;
}

.spanColor {
  color: rgba(99, 96, 95, 1);

}

.pinkColor {
  color: rgba(248, 119, 119, 1);

}

.IslandFont {
  font-family: 'Island Moments', sans-serif;
}
.pinkBg{
  background-color: rgba(248, 119, 119, 1);
  width: 40px;
  height: 40px;
  color: black;
  font-family: 'Island Moments', sans-serif;
}

.searchInput {
  border: 2px solid rgba(242, 178, 88, 1);
  background-color: rgba(250, 247, 242, 1);
  width: 40%;
  padding: 2px;
  font-size: 12px;
  border-radius: 5px;
}

.cardBg {
  background-color: rgba(240, 209, 168, 1);
  border-radius: 18px;
  padding: 10px; 
  height: 100%;
  
}

.date {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.button {
  background-color: rgba(92, 153, 103, 1);
  width: 50px;
  height: 40px;
  
}

.inputTask {
  background-color: rgba(219, 226, 239, 1);

}


@media (min-width: 992px) {
  .statusCardLg {
    width: 300px;   
    height: 100px;  
  }
}

